body
{
    background-color: grey;
}
#pasek{
    float: right;
    border: 1px whitesmoke;

}
#pasek li{
    font-size: 28.999px;
    float: left ;
    margin-left: 29px;
    margin-right: 29.3px;
    font-weight: bold;
margin-bottom: 21.49003px;
margin-top: 15px;
font-family: 'Anton', sans-serif;
}
#pasek a:hover{
    color: black;
}
a{
    color: white;
    text-decoration: none;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 0px dotted #cccccc;
  }
  ul{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  #wot{
      width: 450px;
      height: 400px;
      float: left;
  }
  #wot1{
    width: 450px;
    height: 400px;
    float: right; 
  }

  
  #rama{
color: white;
border: 1px dotted grey;
width: 200px;   
height: 250px;
margin-left: 0%;
opacity:0.8;
background-color: black;
border-radius: 5px;
text-align: center;
font-size: 6px;

  }